
name: Spellcheck
on: push

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: rojopolis/spellcheck-github-actions@0.28.0
      name: Spellcheck
      with:
        source_files: README.md
        task_name: Markdown
        output_file: spellcheck-output.txt